@charset "utf-8";

@import "base.scss";

body {
  margin: 0;
  font-size: $base-font-size;
  color: $base-font-color;
}

.container {
  font-family: $primary-font;
  font-size: $base-font-size;
  width: 100%;
  margin: 0 auto;
  background: $primary-color;

  @media screen and (min-width: 1300px) {
    width: 100%;
  }
}
