body {
  margin: 0;
  font-family: "Protest Guerrilla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visual {
  background: url(./assets/images/bgimg.jpg) no-repeat center;
  background-size: cover;
}
